<style>
	a{
		color: #fff;
	}
</style>
<a class="icon-twitter" href=""></a>
<hr>
<a class="icon-instagram" href=""></a>
<hr>
<a class="icon-pocket" href=""></a>
<hr>
<a class="icon-facebook" href=""></a>
<hr>
<a class="icon-hatena" href=""></a>
