<div class="information only-sp">
	<p>414px以下で表示</p>
	<p>class="only-sp"</p>
</div>
<div class="information no-sp">
	<p>414px以下で非表示</p>
	<p>class="no-sp"</p>
</div>
<div class="information only-tab">
	<p>768px以下で表示</p>
	<p>class="only-tab"</p>
</div>
<div class="information no-tab">
	<p>768px以下で非表示</p>
	<p>class="no-tab"</p>
</div>
