	<!-- ***** main visual -->
	<section class="postTitle">
	<div class="wrap">
	<h1 class="postTitle__index">
		記事タイトル（h1）
	</h1>
	</div>
	</section>
	<!-- /////  -->
	<main class="mainContent">
	<div class="wrap">
	<!-- ***** Article -->
	<article class="article">

				<!-- *** sns -->
				<aside class="article__footer">
					<ul class="article__sns">
						<li><a class="icon-twitter" href=""></a></li>
						<li><a class="icon-pocket" href=""></a></li>
						<li><a class="icon-hatena" href=""></a></li>
					</ul>
					<!-- ** back -->
					<footer class="article__back">
						<div class="button -secondary">
							<a href="/">一覧に戻る</a>
						</div>
					</footer>
					<!-- // -->
				</aside>
				<!-- /// -->

	</article>
	<!-- ///// -->
	</section>
	</div>
	</main>