	<!-- ***** main visual -->
	<section class="postTitle">
	<div class="wrap">
	<h1 class="postTitle__index">
		記事タイトル（h1）
	</h1>
	</div>
	</section>
	<!-- /////  -->
	<main class="mainContent">
	<div class="wrap">
	<!-- ***** Article -->
	<article class="article">
	<!-- *** post start -->
	<p>Syntax highliterは既存のコードをそのまま使用しています。</p>

	<div class="code_ray_wrap">
	<table class="CodeRay">
	<tbody>
	<tr>
	<td class="line-numbers">
	<pre>
<a href="#n1" name="n1">1</a>
<a href="#n2" name="n2">2</a>
<a href="#n3" name="n3">3</a>
<a href="#n4" name="n4">4</a>
<a href="#n5" name="n5">5</a>
<a href="#n6" name="n6">6</a>
<a href="#n7" name="n7">7</a>
<a href="#n8" name="n8">8</a>
	</pre>
	</td>
	<td class="code">
<pre>
<span style="color:#777">// ex. btnというidを持ったボタン要素を取得</span>
<span style="color:#080;font-weight:bold">var</span> button = document.getElementById(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">'</span><span style="color:#D20">btn</span><span style="color:#710">'</span></span>);

<span style="color:#777">// ボタンを有効化</span>
button.disabled = <span style="color:#069">false</span>;

<span style="color:#777">// ボタンを無効化</span>
button.disabled = <span style="color:#069">true</span>;
</pre></td>
	</tr>
	</tbody></table></div>	

	</article>
	<!-- ///// -->
	
	</section>
	</div>
	</main>