	<!-- ***** main visual -->
	<section class="postTitle">
		<div class="wrap">
			<h1 class="postTitle__index">
				記事タイトル（h1）
			</h1>
		</div>
	</section>
	<!-- /////  -->
	<main class="mainContent">
		<div class="wrap">
			<!-- ***** Article -->
			<article class="article">
				<!-- *** post start -->
				<h1>見出し・本文</h1>
				<p>本文テキストサイズは16px( 1.6em )本文テキストサイズは16px( 1.6em )本文テキストサイズは16px( 1.6em )</p>
				<h2>
					h2見出し 20px（2.0rem）
				</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis eaque vitae aperiam! Corporis nihil eum ad eveniet, necessitatibus esse rerum ratione, facere ullam officia eos assumenda praesentium. Esse, perferendis?
				</p>
				<h3>
					h3見出し 18px (1.8rem)
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque repellat, laborum laboriosam dolor quaerat, impedit, voluptas eligendi veniam, officiis deserunt amet exercitationem voluptatibus! Numquam aperiam, dolorum cum autem sapiente natus.
				</p>
				<h4>
					h4見出し 16px( 1.6rem )
				</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque excepturi autem, minus deleniti quam nisi fugit accusamus, commodi, similique at, illum enim. Soluta hic, tempore saepe aut ipsam asperiores assumenda.
				</p>

				<h5>
					h5見出し 15px ( 1.5rem)
				</h5>
				<p>
					最後の文章です最後の文章です最後の文章です最後の文章です最後の文章です最後の文章です最後の文章です
				</p>
				<hr>
				<h2>寄せ</h2>
				<p class="-textcentering">
					class="-textcentering"
				</p>
				<p class="-textright">
					class="-textright"
				</p>
				<p class="-textleft">
					class="-textleft"
				</p>		
				<h2>装飾</h2>
				<p >
					<span class="-underline">class="-underline"</span>
				</p>
				<p >
					<span class="-marker">class="-marker"</span>
				</p>				
				<!-- /// -->
			</article>
			<!-- ///// -->
		</section>
	</div>
</main>