	<!-- ***** main visual -->
	<section class="postTitle">
	<div class="wrap">
	<h1 class="postTitle__index">
		記事タイトル（h1）
	</h1>
	</div>
	</section>
	<!-- /////  -->
	<main class="mainContent">
	<div class="wrap">
	<!-- ***** Article -->
	<article class="article">
		<h2>class="information"</h2>
		<div class="information">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem minima rem ullam quas cupiditate culpa odit mollitia praesentium nulla incidunt dolor asperiores inventore error, commodi fugiat sit. Et, numquam, assumenda!
		</div>
		<hr>
		<h2>class="boxes", class="information</h2>
		<div class="boxes">
			<div class="information">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem minima rem ullam quas cupiditate culpa odit mollitia praesentium nulla incidunt dolor asperiores inventore error, commodi fugiat sit. Et, numquam, assumenda!
			</div>
			<div class="information">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem minima rem ullam quas cupiditate culpa odit mollitia praesentium nulla incidunt dolor asperiores inventore error, commodi fugiat sit. Et, numquam, assumenda!
			</div>				
		</div>		
		<hr>
		<h2>many columuns</h2>
		<div class="boxes">
			<div class="information">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem minima rem ullam quas cupiditate culpa odit mollitia praesentium nulla incidunt dolor asperiores inventore error, commodi fugiat sit. Et, numquam, assumenda!
			</div>
			<div class="information">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem minima rem ullam quas cupiditate culpa odit mollitia praesentium nulla incidunt dolor asperiores inventore error, commodi fugiat sit. Et, numquam, assumenda!
			</div>	
			<div class="information">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem minima rem ullam quas cupiditate culpa odit mollitia praesentium nulla incidunt dolor asperiores inventore error, commodi fugiat sit. Et, numquam, assumenda!
			</div>	
			<div class="information">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem minima rem ullam quas cupiditate culpa odit mollitia praesentium nulla incidunt dolor asperiores inventore error, commodi fugiat sit. Et, numquam, assumenda!
			</div>	
			<div class="information">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem minima rem ullam quas cupiditate culpa odit mollitia praesentium nulla incidunt dolor asperiores inventore error, commodi fugiat sit. Et, numquam, assumenda!
			</div>				
		</div>	
		<hr>
		<h2>List ( default</h2>
		<ul class="">
			<li>あああ</li>
			<li>あああ</li>
			<li>あああ</li>
			<li>あああ</li>
			<li>あああ</li>
		</ul>						
		<hr>
		<h2>List ( color</h2>
		<ul class="-colordots">
			<li>あああ</li>
			<li>あああ</li>
			<li>あああ</li>
			<li>あああ</li>
			<li>あああ</li>
		</ul>						

	</article>
	<!-- ///// -->
	</section>
	</div>
	</main>