<% 
	include( '_include/_function.ejs' );
	$path = './';
	$active = 'top';

	var isTop =  true;
%>
<!DOCTYPE html>
<html>
<head>
	<%- include( '_include/head.ejs' ); %>
</head>
<body class="home">
	<%- include( '_include/header.ejs', { isTop: false } ); %>

	<!-- ***** main visual -->
	<section class="postTitle">
		<div class="wrap">
			<h1 class="postTitle__index">
				動的に追加した要素に対してイベントリスナーを設定する
			</h1>
		</div>
	</section>
	<!-- /////  -->
	<main class="mainContent">
		<div class="wrap">
			<!-- ***** Article -->
			<article class="article">
				<!-- *** post start -->
				<p>j本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらい</p>
				<p>
					j本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらい
				</p>
				<h2>
					h2見出しclass名で追加削除を行う方法
				</h2>
				<p>
					j本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらい
				</p>
<div class="code_ray_wrap">
	<table class="CodeRay">
		<tbody>
			<tr>
  				<td class="line-numbers">
<pre><a href="#n1" name="n1">1</a>
<a href="#n2" name="n2">2</a>
<a href="#n3" name="n3">3</a>
<a href="#n4" name="n4">4</a>
<a href="#n5" name="n5">5</a>
<a href="#n6" name="n6">6</a>
<a href="#n7" name="n7">7</a>
<a href="#n8" name="n8">8</a>
</pre>
				</td>
				  <td class="code"><pre><span style="color:#777">// ex. btnというidを持ったボタン要素を取得</span>
				<span style="color:#080;font-weight:bold">var</span> button = document.getElementById(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">'</span><span style="color:#D20">btn</span><span style="color:#710">'</span></span>);

				<span style="color:#777">// ボタンを有効化</span>
				button.disabled = <span style="color:#069">false</span>;

				<span style="color:#777">// ボタンを無効化</span>
				button.disabled = <span style="color:#069">true</span>;
				</pre></td>
</tr>
</tbody></table></div>	
				<h3>
					h3見出し
				</h3>
				<p>
					j本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらい
				</p>
				<h4>
					h4見出し
				</h4>
				<p>
					j本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらい
				</p>

				<h5>
					h5見出し
				</h5>
				<p>
					j本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらいj本文本文ラインハイト1.7ぐらい
				</p>
				<div class="button -primary">
					<a href="">最重要ボタン</a>
				</div>
				<!-- /// -->

				<!-- *** sns -->
				<aside class="article__footer">
					<ul class="article__sns">
						<li><a class="icon-twitter" href=""></a></li>
						<li><a class="icon-pocket" href=""></a></li>
						<li><a class="icon-hatena" href=""></a></li>
					</ul>
				</aside>
				<!-- /// -->
				<!-- *** back -->
				<footer class="article__back">
					<div class="button -secondary">
						<a href="/">一覧に戻る</a>
					</div>
				</footer>
				<!--  -->

			</article>
			<!-- ///// -->
			<!-- ***** ad -->
			<div class="ad">
				<a href=""><img src="https://s.yimg.jp/images/bank/campaign/201806/bn/580_508.png" alt=""></a>
			</div>
			<!-- ///// -->
			<!-- ***** Other -->
			<section class="relatedPosts">
				<h2 class="relatedPosts__index">
					その他のTips
				</h2>
				<ul class="panels">
					<li class="panel">
						<a class="panel__wrap" href="">
							<h2 class="panel__index">
								要素からclassの追加/削除を行う
							</h2>
						</a>
					</li>
					<li class="panel">
						<a class="panel__wrap" href="">
							<h2 class="panel__index">
								動的に追加した要素に対してイベントリスナーを設定する
							</h2>
						</a>
					</li>
					<li class="panel">
						<a class="panel__wrap" href="">
							<h2 class="panel__index">
								要素からclassの追加/削除を行う
							</h2>
						</a>
					</li>
					<li class="panel">
						<a class="panel__wrap" href="">
							<h2 class="panel__index">
								動的に追加した要素に対してイベントリスナーを設定する
							</h2>
						</a>
					</li>
					<li class="panel">
						<a class="panel__wrap" href="">
							<h2 class="panel__index">
								要素からclassの追加/削除を行う
							</h2>
						</a>
					</li>
					<li class="panel">
						<a class="panel__wrap" href="">
							<h2 class="panel__index">
								動的に追加した要素に対してイベントリスナーを設定する
							</h2>
						</a>
					</li>
					<li class="panel">
						<a class="panel__wrap" href="">
							<h2 class="panel__index">
								要素からclassの追加/削除を行う
							</h2>
						</a>
					</li>
					<li class="panel">
						<a class="panel__wrap" href="">
							<h2 class="panel__index">
								動的に追加した要素に対してイベントリスナーを設定する
							</h2>
						</a>
					</li>
					<li class="panel">
						<a class="panel__wrap" href="">
							<h2 class="panel__index">
								要素からclassの追加/削除を行う
							</h2>
						</a>
					</li>
					<li class="panel -ad">
						<a class="panel__wrap" href="">
							<h2 class="panel__index">
								やばい広告やばい広告やばい広告やばい広告やばい広告
							</h2>
							<ul class="panel__tags">
								<li>Array</li>
								<li>Array</li>
							</ul>
						</a>
					</li>
				</ul>	
				<!-- ///// -->			
			</section>
		</div>
	</main>

	<%- include( '_include/footer.ejs' ); %>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>	

	<script src="/assets/js/common.js"></script>
</body>
</html>