
<div class="wrap" style="background-color: #fff;padding:2.5vw">

	<p>CTAボタン（極力ページに一つ）</p>
	<div class="button -primary">
		<a href="">最重要ボタン</a>
	</div>
	<p>通常ボタン</p>
	<div class="button -secondary">
		<a href="">通常ボタン</a>
	</div>

</div>