		</div>
		<footer class="siteFooter">
			<div class="wrap">
				<ul class="siteFooter__sns">
					<li class="tw"><a class="icon-twitter" href=""></a></li>
				</ul>
				<div class="siteFooter__copy">
					 (c) Tips_room.js All.righTs  reserved.
				</div>
			</div>

			
		</footer>

		<i class="siteBg"></i>
		<%- include( '_scripts.ejs' ); %>